.main_page_faq {
    height: auto;
    margin-top: 3%;
}

.link_back {
    grid-area: a1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    position: fixed;
    top: 15%;
    cursor: pointer;
}

.main_page_sector_faq {
    margin: 3% 10% 0;
    width: 80%;
    position: relative;
    z-index: 1;
}