.header {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #9191910d;
    position: relative;
    margin-top: 0;
    z-index: 10;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 14% 44% 8% 8% 8% 8% 8%;
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 a3 a4 a5 a6 a7";
}

.header_text {
    padding: .5vw 2vw;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: currentColor;
    grid-area: a1;
}

.bold {
    font-weight: 600;
    display: inline-block;
}

.header_menu {
    padding: 16px 15px;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    vertical-align: middle;
    text-align: center;
}

.header_menu:hover {
    border-bottom: 1px solid var(--main-color);
    cursor: pointer;
    color: var(--main-color);
}

.header_text, .header_menu {
    font-size: max(.9vw, 1.5vh, 11.5px);
}

.header_menu_item1 {
    grid-area: a3;
}

.header_menu_item2 {
    grid-area: a4;
}

.header_menu_item3 {
    grid-area: a5;
}

.header_menu_item4 {
    grid-area: a6;
}

.header_menu_item5 {
    grid-area: a7;
}

*, ::after, ::before {
  box-sizing: border-box;
}
  
  body{
    --bg-color: #fff;
    --text-color: #263238;
    --text-color2: #C12374;
    --main-color: #C12374;
    --pink-grey: #ABB6BB;
    --white-grey: #ABB6BB;
    --switch-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1) inset;
    --transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .dark body {
    --bg-color: #263238;
    --text-color: #ebeaf7;
    --text-color2: #ffffff;
    --main-color: #f52583;
    --pink-grey: #f52583;
    --white-grey: #ffffff;
    --switch-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5) inset;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      --bg-color: #263238;
      --text-color: #ebeaf7;
      --text-color2: #ffffff;
      --main-color: #f52583;
      --pink-grey: #f52583;
      --white-grey: #ffffff;
      --switch-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5) inset;
    }
    .light body {
      --bg-color: #fff;
      --text-color: #263238;
      --text-color2: #C12374;
      --main-color: #C12374;
      --pink-grey: #ABB6BB;
      --white-grey: #ABB6BB;
      --switch-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1) inset;
    }
  }
  
  .theme-switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .theme-switch .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .theme-switch .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 50px;
    position: relative;
    height: 40px;
    width: 80px;
    cursor: pointer;
    box-shadow: var(--switch-shadow);
    transition: var(--transition);
  }
  
  .theme-switch .label:hover .moon,
  .theme-switch .label:hover .sun {
    transform: rotate(360deg);
  }
  
  .theme-switch .ball {
    transition: var(--transition);
    background-color: var(--white-grey);
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
   }
  
  .theme-switch .moon {
    color: var(--main-color);
    transform-origin: center center;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    transform: rotate(0);
  }
  
  .theme-switch .sun {
    color: var(--main-color);
    transform-origin: center center;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    transform: rotate(0);
  }
  
  .theme-switch .ball {
    transform: translatex(0);
  }
  
  .dark .theme-switch .ball {
    transform: translatex(40px);
  }
  
  @media (prefers-color-scheme: dark) {
    .theme-switch .ball {
      transform: translatex(40px);
    }
  
    .light .theme-switch .ball {
      transform: translatex(0);
    }
  }
  
  .credits {
    font-family: Helvetica, Arial, Sans-Serif;
    color: var(--text-color);
    padding-top: 20px;
    font-size: 14px;
  }
  
  .credits a {
    color: var(--text-color);
  }