/*cutting all edges of a div
clip-path: polygon(
    0 20%,
    10% 0,
    90% 0,
    100% 20%,
    100% 80%,
    90% 100%,
    10% 100%,
    0% 80%
  )*/

.links_and_back {
    width: 100%;
    height: auto;
    position: fixed;
    margin-top: 29.3%;
    display: grid;
    z-index: 1;
    grid-template-columns: 6% 44% 6% 38% 6%;
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 a3 a4 a5";
    text-align: center;
}

.links {
    grid-area: a1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.back_link {
    margin-top: 100%;
    grid-area: a5;
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.main_page_sector {
    margin: 0 5%;
    width: 90%;
    position: relative;
    z-index: 1;
}

.main_page_body1 {
    height: auto;
    z-index: 0;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 2% 48% 6% 42% 2%;
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 a3 a4 a5";
}

a {
    color: unset;
    text-decoration:none;
}

.first_page_left_container {
    grid-area: a2;
    height: auto;
    text-align: center;
}

.main_page_title {
    font-size: max(3.6vw, 6.0vh, 48px);
    display: inline-block;
    width: 100%;
    height: auto;
}

.main_page_text {
    font-size: max(1.6vw, 2.7vh, 21px);
    font-family: 'Inconsolata', monospace;
    width: 100%;
    height: auto;
    margin-top: 6%;
}

.first_page_buttons {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 10% 42% 4% 34% 10%;
    grid-template-rows: auto;
    grid-template-areas: "b1 b2 b3 b4 b5";
    padding: 5%;
}

.btn {
    padding: 3.5% 6%;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    width: 100%;
    height: 100%;
    clip-path: inherit;
    border: none;
    font-size: 140%;
}

.btn1 {
    grid-area: b2;
}

.btn2 {
    grid-area: b4;
}

.btn_container {
    background-color: #f52583;
    padding: 1px;
    clip-path: polygon(0 0%, 0% 0, 90% 0, 100% 0%, 100% 63%, 92% 100%, 0% 100%, 0% 80%);
}

.btn_pink_full {
    background-color: #f52583;
    color: white;
}

.btn_pink_full:hover {
    background-color: #263238;
    cursor: pointer;
}

.btn_pink_empty {
    background-color: #263238;
    color: #f52583;
}

.btn_pink_empty:hover {
    background-color: #f52583;
    color: white;
    cursor: pointer;
}

.first_image_container {
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    grid-area: a4;
}

.first_image {
    width: 60%;
    height: 55%;
    margin-top: -5%;
}

.paragraph {
    font-weight: bold;
    font-size: 1.5vw;
}

/*===================================2=================================*/

.main_page_second_sector {
    height: auto;
    margin-top: 3%;
}

.second_sector_title {
    text-align: center;
    position: relative;
    font-size: 55px;
}

.second_sector_text {
    margin-top: 2%;
    text-align: center;
    position: relative;
}

.cards_container {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 14% 24% 24% 24% 14%;
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 a3 a4 a5";
}

.second_page_cards {
    text-align: center;
    background-color: #f52583;
    margin: 0 2% 0 2%;
    padding: 1px;
    clip-path: polygon(0 12%, 12% 0, 90% 0, 100% 0%, 100% 88%, 89% 100%, 0% 100%, 0% 80%);
}

.inside_cards{
    clip-path: inherit;
    background-color: #263238;
    width: 100%;
    height: 100%;
}

.card_content{
    width: 94%;
    height: 92%;
    background-color: #00000000;
    position: relative;
    border: solid 1px #f52583;
    top: 3%;
    left: 3%;
    clip-path: polygon(0 74%, 38% 0, 100% 0, 100% 0%, 100% 54%, 60% 100%, 0% 100%, 0% 100%);
}

.second_page_card1 {
    grid-area: a2;
}

.second_page_card2 {
    grid-area: a3;
}

.second_page_card3 {
    grid-area: a4;
}


.title_second_page_card{
    padding-top: 6%;
    font-size: 20px;
    color: white;
    position: relative;
    top: 3%;
    right: 3%;
    border: solid 1px #f52583;
    border-bottom: 0;
    border-left: 0;
    clip-path: polygon(0 22%, 79% 0, 100% 0, 100% 0%, 100% 88%, 76% 100%, 0% 100%, 0% 80%);
    margin-left: 5%;
}

.text_second_page_card{
    position: relative;
    margin-top: 7%;
    font-size: 20px;
    color: white;
    font-family: 'Inconsolata', monospace;
}

.link_2nd_page_card {
    color: #f52583;
    font-size: 13px;
    margin-bottom: 5%;
    padding: 7% 4%;
    bottom: 4%;
    top: 3%;
    position: relative;
    border: solid 1px #f52583;
    border-top: 0;
    border-right: 0;
    left: 3%;
    clip-path: polygon(0 16%, 80% 0, 100% 0, 100% 0%, 100% 88%, 22% 100%, 0% 100%, 0% 80%);
    margin-right: 9%;
}

/*===================================3=================================*/

.main_page_third_sector {
    height: auto;
    margin-top: 6%;
}

.third_sector_title {
    text-align: center;
    position: relative;
    font-size: 40px;
}

.third_sector_text {
    margin-top: 1%;
    text-align: center;
    position: relative;
}

.third_sector_grids_container {
    height: auto;
    width: 100%;
    position: relative;
}

.third_sector_grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 16% 34% 2% 32% 16%;
    grid-template-rows: auto;
    grid-template-areas: "b1 b2 b3 b4 b5";
    text-align: left;
}

.third_sector_grid1, .third_sector_grid2, .third_sector_grid3 {
    margin-top: 5%;
}

.third_sector_grid1_info {
    grid-area: b2;
}

.third_sector_grid2_info {
    grid-area: b4;
}

.third_sector_grid_title {
    position: relative;
    font-size: 40px;
}

.third_sector_grid_text {
    margin-top: 4%;
    position: relative;
    font-size: max(1.2vw, 2.4vh, 18px)
}

.third_sector_grid1_img_container {
    grid-area: b4;
}

.third_sector_grid2_img_container {
    grid-area: b2;
}

/*=============================4=============================*/

.main_page_fourth_sector {
    height: auto;
    margin-top: 6%;
}

.cards_container4 {
    position: relative;
    margin-top: 4%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 14% 24% 24% 24% 14%;
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 a3 a4 a5";
}

.fourth_sector_img_container {
    padding-top: 10%;
    position: relative;
    top: 3%;
    right: 3%;
    border: solid 1px #f52583;
    border-bottom: 0;
    border-left: 0;
    clip-path: polygon(0 44%, 79% 0, 100% 0, 100% 0%, 100% 88%, 76% 100%, 0% 100%, 0% 80%);
    margin-left: 5%;
}

.title_fourth_page_card{
    padding-top: 6%;
    font-size: 20px;
    color: white;
    border-bottom: 0;
    border-left: 0;
}

/*=================================5=================================*/

.main_page_fifth_sector {
    height: auto;
    margin-top: 6%;
}

.main_page_fifth_sector_faqs {
    height: auto;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 a3";
}

.faq_question {
    border: 1px solid #f52583;
    grid-area: a2;
    padding: 2%;
    cursor: pointer;
    margin-top: 2%;
}

.faq_question_row1 {
    grid-row: 1;
}

.faq_question_row2 {
    grid-row: 2;
}

.faq_question_row3 {
    grid-row: 2;
}

.plus_x {
    margin-right: 1%;
    width: auto;
    float: right;
}

.faq_answer {
    display: none;
}

/*================================6=================================*/

.main_page_sixth_sector {
    height: auto;
    margin-top: 6%
}

.main_page_sixth_sector_buttons {
    margin-top: 3%;
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 30% 19% 2% 19% 30%;
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 a3 a4 a5";
}

.sixth_sector_btn1 {
    grid-area: a2;
}

.sixth_sector_btn2 {
    grid-area: a4;
}


/*==============================FOOTER==============================*/

.main_page_footer {
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 24% 52% 24%;
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 a3";
    text-align: center;
    background-color: #f52583;
    color: white;
    z-index: 0;
}

.main_page_footer_title {
    grid-area: a1;
    font-size: 30px;
    align-content: center;
}

.main_page_footer_last_line {
    grid-area: a2;
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    align-content: end;
    padding-bottom: 1%;
}

.main_page_footer_contact{
    grid-area: a3;
    align-content: center;
}

.main_mage_footer_contact_title{
    font-size: 16px;
}

.main_page_footer_contact_number{
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
}

.main_page_footer_contact_email{
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    font-weight: 100;
}

/*=============================END=============================*/

.card_1 {
    grid-area: first;
    background-image: url("../images/mom_card_1.png");
}
.card_2 {
    grid-area: second;
}
.card_3 {
    grid-area: third;
    background-image: url("../images/mom_card_2.png");
}
.card_4 {
    grid-area: fourth;
}
.card_title {
    font-size: 1.4vw;
    font-weight: bold;
    color: #233A8A;
    text-align: center;
}
.card_text {
    font-size: 1.3vw;
    text-align: center;
    margin-top: 4vw;
}


.third_sector_buy_button_grid {
    position: relative;
    height: 27%;
    width: 100%;
    top: 25vw;
    display: grid;
    grid-template-columns: 3% 40% 9% 22%;
    grid-template-rows: auto;
    grid-template-areas: "zero first second third last";
}
.buy_button_title, .buy_button_text, .buy_button {
    grid-area: first;
}

.buy_button_text {
    position: relative;
    top: 5vw;
}

.buy_button {
    position: relative;
    top: 24vw;
    height: 6vw;
    font-size: 1.6vw;
    font-weight: bold;
    color: white;
}

.buy_button_card {
    grid-area: third;
    background-image: url("../images/last_card.png");
}