.main_page_body {
    width: 100%;
    height: 65%;
    z-index: 0;
    padding: 5% 5% 0 10%;
}

a {
    color: unset;
    text-decoration:none;
}

.first_page_left_container {
    width: 50%;
    height: 100%;
    padding: 0 0 0 0%;
    display: inline-block;
    float: left;
    align-content: center;
}

.main_page_title {
    font-size: max(3.6vw, 6.0vh, 48px);
    display: inline-block;
    float: left;
    width: 100%;
}

.main_page_text {
    font-size: max(1.6vw, 2.7vh, 21px);
    float: left;
    font-family: 'Inconsolata', monospace;
    display: inline-block;
    width: 100%;
}

.btn {
    margin: 5% 2%;
    padding: 1.5% 2%;
    font-family: 'Inconsolata', monospace;
}

.btn_pink_full {
    background-color: #f52583;
    border: 1px solid #f52583;
    color: white;
    transition-delay: 250ms;
}

.btn_pink_full:hover {
    background-color: #f52d88;
    cursor: pointer;
    box-shadow: #f52d88 0px 4px 29px 0px;
    transition: box-shadow 0.3s ease-in-out 0s;
}

.btn_pink_empty {
    background-color: #0000;
    border: 1px solid #f52583;
    color: #f52583;
}

.btn_pink_empty:hover {
    background-color: #f52583;
    color: white;
    cursor: pointer;
}

.first_image_container {
    float: left;
    width: 50%;
    padding: 0 0 0 0;
    display: inline-block;
}

.first_image {
    width: 60%;
    height: 55%;
    margin-top: -5%;
}

.paragraph {
    font-weight: bold;
    font-size: 1.5vw;
}

.main_page_second_sector {
    height: 40%;
    width: 100%;
}

.second_sector_title {
    text-align: center;
    position: relative;
    top: 20%;
}

.second_sector_text {
    text-align: center;
    padding: 0 5vw;
    position: relative;
    top: 30%;
}

.main_page_third_sector {
    height: 250%;
    width: 100%;
    position: relative;
    top: 4vw;
    background-image: url("../images/3rd_section_bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 3vw;
}

.third_sector_title {
    text-align: right;
    position: relative;
    right: 6vw;
}

.card_grid_container {
    height: 30%;
    position: relative;
    top: 2vw;
    padding: 2vw 2vw 2vw 17vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "first second third fourth";
}
.cards {
    margin: 0 0.7vw;
    box-shadow: 0px 4px 4px 1px rgb(0 0 0 / 25%);
    padding: 5vw 0;
}
.card_1 {
    grid-area: first;
    background-image: url("../images/mom_card_1.png");
}
.card_2 {
    grid-area: second;
}
.card_3 {
    grid-area: third;
    background-image: url("../images/mom_card_2.png");
}
.card_4 {
    grid-area: fourth;
}
.card_title {
    font-size: 1.4vw;
    font-weight: bold;
    color: #233A8A;
    text-align: center;
}
.card_text {
    font-size: 1.3vw;
    text-align: center;
    margin-top: 4vw;
}

.third_sector_text {
    position: relative;
    float: right;
    right: 4vw;
    top: 10vw;
}

.third_sector_buy_button_grid {
    position: relative;
    height: 27%;
    width: 100%;
    top: 25vw;
    display: grid;
    grid-template-columns: 3% 40% 9% 22%;
    grid-template-rows: auto;
    grid-template-areas: "zero first second third last";
}
.buy_button_title, .buy_button_text, .buy_button {
    grid-area: first;
}

.buy_button_text {
    position: relative;
    top: 5vw;
}

.buy_button {
    position: relative;
    top: 24vw;
    height: 6vw;
    font-size: 1.6vw;
    font-weight: bold;
    color: white;
}

.buy_button_card {
    grid-area: third;
    background-image: url("../images/last_card.png");
}